<div class="row whole-page">
  
        <div class="status-container">
            <div class='box light-blue'></div>Approved
            <div class='box cyan'></div> | CheckIn |
            <div class='box gray'></div> CheckOut |
            <div class='box red'></div> Canceled
            
            <div class="status-info">
                <div class="date-navigation">
                    <button class="arrow" (click)="changeDate(-1)">&#9664;</button>
                    <div class='box white' *ngIf="selectedDate">
                        <div class="date-text"><strong>{{ selectedDate | date }}</strong></div>
                    </div>
                    <button class="arrow" (click)="changeDate(1)">&#9654;</button>
                </div>
            </div>
            
            <div class="buttons">
                <button (click)="viewDay()" [class]="this.configNavigator.selectMode == 'Day' ? 'selected' : ''">Day</button>
                <!-- <button (click)="viewWeek()" [class]="this.configNavigator.selectMode == 'Week' ? 'selected' : ''">Week</button> -->
            </div>
        </div>
    <div class="col-4 " id="left-calender">
        <div style="text-align:center;">
            <mat-calendar [(selected)]="selectedDate" (selectedChange)="onDateChange($event)"></mat-calendar>

            <!-- <p *ngIf="selectedDate"> {{ selectedDate }}</p> -->
        </div>
        <div class="location">
            <div class="location-title">
                <p>Locations</p>
            </div>
            <ul>
                <li *ngFor="let location of Locations" class="tree-node">
                    <button class="toggle-button" (click)="toggleChildren($event)">></button>
                    <input type="checkbox" id="parent1" class="parent-checkbox" [(ngModel)]="location.checked"
                        (change)="onParentCheckboxChange($event)">
                    <label for="parent1">{{location.LocationName}}</label>
                    <ul class="children hidden">
                        <li *ngFor="let provider of formatedProvidersInToggle[location.LocationId] || []">
                            <input type="checkbox" [id]="'child' + provider.ProviderId" class="child-checkbox">
                            <label [for]="'child' + provider.ProviderId">{{ provider.FirstName }} {{ provider.LastName }}</label>
                          </li>
                      </ul>
                </li>
            </ul>
        </div>
        <div class="providers-sec">
            <div class="location-title">
                <p>Providers</p>
            </div>
            <ul>
                <li *ngFor="let provider of uniqueProviders" class="tree-node">
                    <button class="toggle-button" (click)="toggleChildren($event)">></button>
                    <input type="checkbox" id="provider1" class="parent-checkbox"
                        (change)="onParentCheckboxChange($event)">
                    <label for="provider1">{{provider.FirstName}} {{provider.LastName}}</label>
                    <ul class="children hidden">
                        <li *ngFor="let location of LocationOfProvider[provider.ProviderId]">
                          <input type="checkbox" [id]="'location' + location.LocationId" class="child-checkbox">
                          <label [for]="'location' + location.LocationId">{{ location.LocationName }}</label>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="scheduler-table" class="col-8">
        <div class="calendar-header">
          <daypilot-calendar [events]="events" [config]="config" #calendar></daypilot-calendar>
        </div>
      </div>
</div>